# Cấu trúc: [Tên_mục_tiêu] = boolean : exists : [tên_biến_ở_file_results]
Task_1_Extraction : boolean : exists : cw1_extracted
Task_2_3_Embedding : boolean : exists : cw3_watermarked
Task_4_Attack : boolean : exists : cw4_tampered
Task_5_6_Forensics : boolean : exists : cw5_6_detected
Task_7_Report : boolean : exists : cw7_metrics
